body {
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-wrap: wrap;
    flex-direction: column;
}
.all-colors{
    background-color: #F6F1F1;
    background-color: #6c6c6c;
    background-color: #2e6bc7;
    background-image: linear-gradient(90deg, #ffffff 0%, #a0e1ff 35%, #144e94 100%);
}

.blue-famous {color: #0048ffe6;}

.nav-bar{
    position: sticky;
    top:0;
    z-index:100;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}